@import "./../../../vars";

.event-page {
  margin: 0 auto;

  img {
    max-width: 800px;

    @include media('<mobile') {
      max-width: 100%;
    }
  }

  @include media('>=mobile') {
    width: calc(100% - 40px);
    max-width: 1200px !important;
  }

  @include media('<mobile') {
    margin: 0 !important;
  }
}

.category-row {
  display: flex!important;
  align-items: center;
  justify-content: flex-start;

  img {
    margin-right: 10px!important;
  }
}