@import "./../../../vars";

#root {
  .bug-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #a7bd0d;
    border-radius: 10px;
    text-align: center;
    max-width: 90%;

    img {
      max-width: 300px;
      margin: 0 auto 20px;
      width: 100%;
      display: block;
    }
  }

  .app {
    > .menu {
      background-color: $header-background;
      border-radius: 0;
      margin: 0;
      height: $header-height;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }

    .pushable {
      > .menu.vertical {
        padding-top: $header-height;
        overflow: visible!important;
      }
    }
  }

  .logo-item {
    height: $header-height;

    @include media('<tablet') {
      flex: 1;
      padding: 0;
    }

    &:hover {
      background-color: transparent;
    }

    .logo {
      height: calc(100% - 10px);
      object-fit: contain;
      width: 100%;
      max-width: 300px;
      z-index: 1;

      @include media('<tablet') {
        height: auto;
        max-height: calc(100% - 20px);
      }
    }
  }

  .picture-logo {
    height: $header-height;
    padding: 2px 0;

    @include media('<desktop') {
      padding: 4px 0;
      max-width: 100%;
    }

    @include media('<tablet') {
      position: absolute;
      opacity: .15;
      right: 0;
      z-index: 0;
    }

    .picture-img {
      height: 100%;
      width: auto !important;
      margin-right: 20px;
      max-width: 100%;
    }
  }

  .add-event-item,
  .login-item {
    @include media('<mobile') {
      span {
        display: none;
      }
    }
  }

  .logout-item {
    .ui.avatar.image {
      width: 21px;
      height: 21px;
      margin: 0em 0.35714286em 0em 0em
    }
  }
}

.ui.vertical.menu > .item.dropdown.dropdown-menu {
  display: flex;
  flex-flow: column-reverse nowrap;
  align-items: center;
}

.red-dot{
  transform: translateX(5px) !important;
}

.have-dot {
  position: relative;
}
